.header {
    .headerWrapper {
        background-color: #003580;
        height: 58vh;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 2px 220px;

        .headerItemRow {
            margin-top: 14px;
            display: flex;
            align-items: center;

            .headerItemCon.active {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                width: 96px;
                height: 45px;
                border: 1.4px solid white;
                background-color: #2358a3;
                border-radius: 30px;
            }

            .headerItemCon {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                margin-right: 30px;
                border-radius: 40px;

                &:hover {
                    height: 45px;
                    background-color: #2358a3;
                    border-radius: 40px;
                }
            }

            .flightCon {
                width: 100px;
                cursor: pointer;
                &:hover {
                    width: 100px;
                    transition: all 0.3s ease;
                }
            }

            .carRentCon {
                width: 126px;
                cursor: pointer;
                &:hover {
                    width: 126px;
                    transition: all 0.3s ease;
                }
            }

            .attractionCon {
                width: 130px;
                cursor: pointer;
                &:hover {
                    width: 130px;
                    transition: all 0.3s ease;
                }
            }

            .taxisCon {
                width: 132px;
                cursor: pointer;
                &:hover {
                    width: 132px;
                    transition: all 0.3s ease;
                }
            }
        }

        .headerTxtBig {
            font-size: 52px;
            color: white;
            font-weight: 600;
            margin-top: 60px;
        }
        .TxtSmall {
            font-size: 24px;
            color: white;
            margin-top: 10px;
        }

        .loginRegisterButton {
            width: 190px;
            height: 48px;
            font-size: 18px;
            font-weight: 600;
            background: rgb(9, 108, 221);
            border: none;
            border-radius: 2px;
            color: white;
            margin-top: 30px;
            cursor: pointer;

            &:hover {
                background-color: white;
                color: #003580;
                transition: all 0.5s ease;
            }
        }

        // Header Search Bar=================================================================>
        .headerSearch {
            height: 65px;
            background-color: yellow;
            display: flex;
            align-items: center;
            padding: 0px 5px;
            position: absolute;
            bottom: -27px;

            .headerSearchItem {
                height: 55px;
                width: 280px;
                background-color: white;
                margin-right: 4px;
                padding: 0px 14px;
                display: flex;
                align-items: center;
                cursor: pointer;

                .headerSearchInput {
                    margin-left: 10px;
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 100%;
                }

                .headerSearchInputTxt {
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .dateSelectCalender {
                    position: absolute;
                    top: 66px;
                    left: 315px;
                    z-index: 2;
                }
            }

            .headerSearchIcon {
                color: grey;
                margin-right: 5px;
                cursor: pointer;
            }

            //Option field Container (children adult room) ========================================>
            .optionsCon {
                position: absolute;
                top: 66px;
                width: 400px;
                height: 180px;
                background-color: white;
                border-radius: 4px;
                padding: 15px;
                z-index: 2;
                box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.43);
                -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.43);
                -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.43);

                .optionItems {
                    margin-top: 15px;

                    .optionTxt {
                        font-size: 16px;
                        font-weight: 600;
                        color: rgb(55, 55, 55);
                        margin-right: 200px;
                    }

                    .optionCounterButton {
                        width: 35px;
                        height: 35px;
                        font-size: 20px;
                        margin-right: 10px;
                        margin-left: 10px;

                        &:disabled {
                            background-color: white;
                            border: 1px solid grey;
                            cursor: not-allowed;
                        }
                    }

                    .optionCounterButton1 {
                        margin-left: -11px;
                    }

                    .counterNumber {
                        font-size: 20px;
                    }
                }
            }

            .headerSearchButton {
                height: 55px;
                width: 144px;
                background-color: rgb(9, 108, 221);
                border: none;
                outline: none;
                border-radius: 2px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}
