.navBar {
    background-color: #003580;
    height: 80px;
    display: flex;
    justify-content: center;

    .navBarWrapper {
        width: 100%;
        padding: 0px 220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .logoTxt {
            font-size: 30px;
            font-weight: 600;
            color: white;
        }

        .navbarRightCon {
            display: flex;
            align-items: center;

            .npr {
                font-size: 16px;
                color: white;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 52px;
                height: 46px;
                color: white;
                border-radius: 2px;

                &:hover {
                    width: 52px;
                    height: 46px;
                    background-color: #2358a3;
                    color: white;
                    transition: all 0.3s ease;
                }
            }

            .roundFlagCon {
                margin-left: 30px;
                cursor: pointer;
                width: 52px;
                height: 46px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    width: 52px;
                    height: 46px;
                    background-color: #2358a3;
                    transition: all 0.3s ease;
                }

                .roundFlagImg {
                    width: 26px;
                    height: 26px;
                    object-fit: cover;
                    border: 1px solid grey;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                }
            }

            .helpIconCon {
                width: 52px;
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: center;

                .helpIcon {
                    color: #ffffff;
                    font-size: 30px;
                }
                &:hover {
                    width: 52px;
                    height: 46px;
                    background-color: #2358a3;
                    transition: all 0.3s ease;
                }
            }

            .listYourProperty {
                width: 135px;
                height: 38px;
                background-color: #003580;
                border: none;
                border: 1.8px solid white;
                color: white;
                font-size: 14px;
                font-weight: 500;
                margin-left: 20px;
                cursor: pointer;
            }

            .register {
                width: 80px;
                height: 34px;
                background-color: white;
                border: none;
                color: #2778ea;
                font-size: 14px;
                font-weight: 500;
                margin-left: 10px;
                cursor: pointer;

                &:hover {
                    background-color: #2358a3;
                    color: white;
                    font-weight: 700;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}
